{% extends 'layout.html' %}

{% block body %}
<h3><p style ="text-align: center;"> About </p> </h3>
<hr> <!-- hr : Uzun bir düz çizgi çizer -->
<p>
<div class = "col-xs-12 col-sm-12 col-md-12" >
        <div class = "border">
                <p style ="text-align: center;">        
                        <p style ="text-align: center;">
                                <span style = "font-family: times, serif; font-size:14pt;">
                                <br>
                                </span>
                        </p>
                        <p style ="text-align: center;">
                                <span style = "font-family: times, serif; font-size:14pt;">
                                        I'm Cemal Kureli. I am a 4th year student in Manisa Celal Bayar Computer Engineering (English). I improve myself on Java, Python, C#, Web project (with Flask, Django, ASP.NET) and game development.
                                        I generally use Python. I regularly use Adobe programs (Photoshop, Premiere Pro) in my work. I have Youtube, Twitch, Steam, DC channels.
                                </span>
                        </p>
                        <p style ="text-align: center;">
                                <span style = "font-family: times, serif; font-size:14pt;">
                                <br>
                                </span>
                        </p> 
                        <hr>
                </p>
                        <h5><p style ="text-align: center; "> Advertising Or Sponsorship Address</p> <h5>
                        <p style ="text-align: center; font-family: times, serif; font-size:14pt;"> cemalkureli@gmail.com </p>
                        <h5><p style ="text-align: center; "> Suggestion Or Support Address</p> <h5>
                        <p style ="text-align: center; font-family: times, serif; font-size:14pt;"> respectconquest1453@gmail.com</p>
        </div>
</div>

{% endblock body %} 
