{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class = "col -md-10 offset-md-1">
        <div class="col-lg-8">
            <h1 style =" font-family: Courier New, monospace; color: red;"> Articles </h1>
        </div>    
    </div>
</div>
<hr>
<br>
<div class="row">
    <div class = "col -md-10 offset-md-1">
        <div class="col-lg-5">
            <form method="GET" action="" class="form-inline">
                {% csrf_token %}
                <input class="add_your_class" type="search" name="search" placeholder="Enter search term..." maxlength="64"> 
                <button class="btn btn-danger" type="submit"> Search </button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
{% if articles %}

    {% for article in articles %}
        <div class="row">
            <div class = "col -md-10 offset-md-1">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <a href="{% url 'article:detail' article.id %}"><h3 class="fw-bolder mb-1">{{article.title}}</h3></a>
                            <hr>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2"> Posted on {{article.created_date}}</div>
                            <!-- Post categories-->
                            <a class="lead">Published by {{article.author.username}}</a>
                        </header>
                        <!-- Preview image figure-->
                        {% if article.article_image %} 
                        <a href = "{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." ></img></a>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4"> {{article.content|safe|truncatewords:10}} </p> 
                            <a style= "float: right; font-family:italic; color: white;" href = "{% url 'article:detail' article.id %}" class = "btn btn-info">Read more</a> 
                        </section>                                                               
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
<div class="row">
    <div class = "col -md-10 offset-md-1">
        <div class="col-lg-10">
            <div class = "alert alert-danger"> No article found. </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock body %}
