{% extends 'layout.html' %}

{% block body %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-5 offset-md-3">
        <h4> Sign Up </h4>
        <hr>
        <br>
        <form action = "" method = "post">
            {% csrf_token %} 
            {{form|crispy}} 
            <br>
            <button type = "submit" class = "btn btn-info"> Sign in </button>
        </form>
        <br>
		<div class="border-top pt-3">
            <small class="text-muted">
                Already have an account ? <a class="ml-2" href="{% url 'user:login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock body %}
